.datagrid {
  color: white;
  .DG {
    border: none;
    color: aliceblue;
    .MuiTablePagination-root {
      color: aliceblue;
    }
  }
}
.cards-container {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cell {
  border-bottom-color: rgb(0, 0, 0) !important;
  outline: none!important;
 
}
.css-z8fhq1-MuiDataGrid-columnHeaders {
  border-bottom: 1px solid rgb(85, 82, 82) !important;
}
.css-1kwdphh-MuiDataGrid-virtualScrollerContent {
  margin-top: 30px !important;
}
.css-1w5m2wr-MuiDataGrid-virtualScroller {
  overflow-y: hidden !important;
}

.blink-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  animation: blink 1.2s ease-in-out infinite;
  opacity: 0.1;
}
.active {
  background: green;
}
.notActive {
  background: red;
}
.isCooling {
  background: rgb(255, 162, 0);
}
@keyframes blink {
  to {
    opacity: 1;
  }
}
.progress-status {
  width: 160px;
  height: 13px;
  background: #2f2e2e;
  position: relative;  border-radius: 20px;
  .progress-bar-status {
      border-radius: 20px;
    width: 150px;
    height: 13px;
    background: rgb(19, 19, 106);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .progress-text {
    position: absolute;
    top: -10%;
    left:40%;
    font-size: 12px;
     
    transform: translateX(-50%,-50%);
     
    
  }
}

.custom-row {
  //background-color: lightgray;
 // transform: scale(.5)!important;
 outline: none;
}