.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background: #1E1F23;
  .widget-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
}
