.buttons {
  display: flex;
  button {
    //width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    border: none;
    opacity: .8;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
    .icon {
      margin-right: 10px;
     // color: rgb(255, 255, 255);
     
    }
  }
}
