.buycard {
  .cards-filtered {
    background: #282C35;
    padding: 20px;
    border-radius: 10px;
    margin: 50px;
    -webkit-box-shadow: 0px 0px 15px 2px #ff9bfc;
    box-shadow: 0px 0px 15px 2px #ff9bfc;
  }
}
