.owned-cards {
  width: 100%;
  display: flex;
  color: lightgray;
  background: #282C35;
  border-radius: 10px;
  padding: 20px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 200;
  margin: 10px 0;
  flex-wrap: wrap;
  justify-content: center;
  .left {
    // flex: 2;
    width: 380px;
    text-align: center;
     
  }
  .right {
    flex: 2;
    
  }
}
