.advancement-block {
margin: 20px 0;
.block-details {
  .advancement-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .progress {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        margin: 20px 0;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .estimated-mblock {
      margin: 20px 0;
      h5 {
      }
      .quantity-mblock {
        color: #6a72dd;
        margin-right: 10px;
      }
      span {
      }
    }
  }
  .autominer-isactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5 {
      .green {
        color: green;
      }
      .red {
        color: red;
      }
    }
  }
}
.current-hashpower {
  width: 340px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  background: #000000e6;
   
  h5 {
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 200;
    span {
      color: purple;
      font-weight: 800;
    }
  }
}
}